@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

#logo{
    width: 150px;
    height: 100%;
    float: right;
    margin-right: 70px;
}

.nav-menu{
    list-style: none;
    padding-top: 27px;
    padding-left: 140px;
}

.nav-menu li{
    float: left;
    margin-right: 70px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

#main{
    background-image: url("img/BG.jpg");
    background-position: center;
}
.carousel-indicators{
    position: relative;
    margin-top: 40px;
}
ol.carousel-indicators li,
ol.carousel-indicators li.active{
    background-color: red;
    height: 8px;
    width: 8px;
    margin:8px;
    border-radius: 100%;
}

.carousel-inner{
    padding: 10px 10px 10px 20%;
}

.carousel-control-prev{
    left:9% ;
}
.carousel-control-next{
    right: 14%;
}

.carousel-item h1{
    color: #D52E38;
    margin-top: 20px;
    margin-right: 150px;
}

.carousel-item p{
    line-height: 35px;
    font-weight: 600;
    margin-top: 30px;
    margin-right: 150px;
}

#main.carousel-item .row img{
    position: relative;
    top: 35%;
    right: 20%;
    width: 50%;
}
hr{
    border-top: 3px solid #EDEDED;
}
#bestDishesPictures #carouselExampleControls .carousel-inner img{
    width: 225px;
}

#bestDishes{
    background-image: url("./img/www3.jpg");
}
#bestDishes #containBestDishes #bestDishesRow{
    width: 100%;
    margin: 0 auto;
}
#bestDishes #containBestDishes #bestDishesRow .slick-slider{
    width: 50%;
    margin-inline: auto;
}
#bestDishes #containBestDishes #bestDishesRow .slick-slide img{
    width: 70%;
    margin:auto;
}

#bestDishes #containBestDishes #bestDishesRow .slick-slide{
    width: 280px;
}

#bestDishes #containBestDishes #bestDishesRow .slick-next{
    background-image: url("./img/bestdishesrightarrow.png") !important;
    width: 15px;
    height: 30px;
}
#bestDishes #containBestDishes #bestDishesRow .slick-prev{
    background-image: url("./img/bestdishesleftarrow.png") !important;
    width: 16px;
    height: 30px;
}
#bestDishes #containBestDishes #bestDishesRow .slick-prev:before{
    content: none;
}
#bestDishes #containBestDishes #bestDishesRow .slick-next:before{
    content: none;
}

#bestDishes #containBestDishes #bestDishesRow #pastaHeader{
    text-align: center;
    color: white;
    font-size: 20px;
    margin-top: 5px;
    font-family: Oswald;
    letter-spacing: 2px;
}
